<h2 style="text-align: center">Make a Transaction</h2>
<form
  (ngSubmit)="onSubmit()"
  [formGroup]="transactionForm"
  class="transaction-form"
>
  <div class="form-group">
    <label for="userId">UserId:</label>
    <input type="text" id="user" formControlName="user" class="form-control" />
  </div>
  <div class="form-group">
    <label for="amount">Amount:</label>
    <input type="number" id="amount" formControlName="amount" />
  </div>

  <div class="form-group">
    <label for="type">Type:</label>
    <select id="type" formControlName="type">
      <option value="CREDIT">Credit</option>
      <option value="DEBIT">Debit</option>
    </select>
  </div>
  <button type="submit" class="btn-submit">Submit</button>
  <ng-container>
    <div *ngIf="transactionError$ | async as error" class="error">
      {{ error }}
    </div>
    <div *ngIf="transactionSuccess$ | async as msg" class="success">
      {{ msg }}
    </div>
  </ng-container>
</form>
